{% extends 'Shared/layout.html' %}

{% block content %}
    <h2>Choose plant profile</h2>

    <div class="row">
        <form method="POST" class="col s12">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <input id="plant_name" name="plant_name" type="text" class="validate" required>
                    <label for="plant_name">Plant name</label>
                </div>

                <div class="input-field col s12">
                    <input id="avg_heat" name="avg_heat" type="number" class="validate" required min="1">
                    <label for="password">Average heat (&#8451;)</label>
                </div>
                <p class="col s12">
                    <label for="">Location:</label>
                    <br>
                    <input class="with-gap" name="location" type="radio" id="outdoor" value="outdoor" />
                    <label for="outdoor">Outdoor</label>
                    <input class="with-gap" name="location" type="radio" id="indoor" value="indoor" />
                    <label for="indoor">Indoor</label>
                </p>
                <div class="input-field col s12">
                    <select name="avg_light" id="avg_light" class="icons">
                        <option value="" disabled selected>Choose</option>
                        <option value="All Sun Types">All Sun Types</option>
                        <option value="Full Sun">Full Sun</option>
                        <option value="Partial Shade">Partial Shade</option>
                        <option value="Full Shade">Full Shade</option>
                    </select>
                    <label for="avg_light">Sun Needs:</label>
                </div>
                <div class="input-field col s12">
                    <input type="submit" value="submit" class="btn waves-effect waves-light">
                </div>
            </div>
        </form>
    </div>
{% endblock %}