
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.select-wrapper{
    width:300px;
    display: inline-block;
}

label{
    font-size: initial;
}
input{
    max-width:300px;
}

select{
    max-width:300px;
}

.myFont{
    font-size: 1.4rem;
    line-height: 110%;
    margin: 1.6rem 0 0.4rem 0;
}