<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'Shared/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'Shared/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'Shared/js/materialize.js' %}"></script>
    <script src="{% static 'Shared/js/init.js' %}"></script>

</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left"><i class="material-icons left">local_florist</i>iPlant</a>
        <ul class="right">
            <!-- Dropdown Trigger -->
            <li style="min-width:100px;"><a class='dropdown-button' data-hover="true" data-belowOrigin="true" href='/wifi/' data-activates='wifiDrop'><i class="material-icons left">wifi</i>{{ wifi_name }}</a></li>
            <!-- Dropdown Structure -->
            <ul id='wifiDrop' class='dropdown-content'>
                <li><a href="/wifi/">Manage</a></li>
                {% if wifi_name != "Not Connected" %}
                <li class="divider"></li>
                <li><a href="/wifidc/"><i class="material-icons">power_settings_new</i>Disconnect</a></li>
                {% endif %}
            </ul>
            {% if login != "None" %}
                <li><a href="/profile"><i class="material-icons left">account_circle</i>{{ login }}</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {%  block content %}
    {% endblock %}
</div>
</body>
</html>
